#
# Includes and excludes just for source distribution (sdist)
#
# Copyright: 2016 Carsten Grohmann
# License: MIT (see LICENSE.txt) - THIS PROGRAM COMES WITH NO WARRANTY

include docs/man/wxglade.1

exclude .hgignore
exclude .hgtags
exclude README.SF.md
