Source: wxglade
Section: devel
Priority: optional
Maintainer: Georges Khaznadar <georgesk@ofset.org>
Build-Depends-Indep: debhelper (>= 4.0.0), docbook, xsltproc
Standards-Version: 3.6.2

Package: python2.3-wxglade
Architecture: all
Depends: python (>= 2.3), libwxgtk-python
Description:  GUI designer written in Python with wxPython
 wxGlade is a GUI designer written in
 Python with the popular GUI toolkit wxPython, that helps you create
 wxWidgets/wxPython user interfaces. At the moment it can generate Python,
 C++ and XRC (wxWidgets' XML resources) code.
